<div class="header">
  <div class="inner-header flex">

<h1>Write Posts</h1>
<mat-card>
  <mat-spinner  *ngIf="isLoading"></mat-spinner>
  <form [formGroup]='form' (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Post Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Post Content"
        ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post</button>
      <div class="imgload">
        <button mat-raised-button type="button" color="accent" (click)="filePicker.click()">
          Upload Image</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
      </div>
  </form>
</mat-card>
  <!--Waves Container-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>

    </div>
